

.container {
  padding-top: 20px;
  padding-right: 15vw;
  padding-left: 15vw;
}

#sample * {
  display: none;
  border: 1 px solid black;
}

#edit, #delete {
	font-size: 2vw;
}

.jumbotron{
text-align: center;
}

.editing{
	font-weight: bold;
	border: 2px dashed red;
	background-color: yellow;
}
